.card{
    background-color: #47B5FF;
    box-shadow: 2px 5px 10px rgb(0 0 0 / 0.5);
    width : 18rem
}

.card h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    color: aliceblue;
}

.card h5, .card p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: aliceblue;
}

img.card-img {
    width : 6rem;
    height : 6rem;
}
