.card{
    background-color: #47B5FF;
}

.card h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    color: aliceblue;
}

.card h5, .card p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: aliceblue;
}