label h2{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: aliceblue;
}

input::placeholder{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.btnText{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

input{
    font-family: 'Playfair Display', serif;
    font-weight: 400;  
}